<ul>
  {% for item in include.collection %}
    <li>
    {% if item.url != false %}
      <a href="{{ item.url }}">{{ item.title }}</a><br />
      {{ item.author }}
      {{ item.publisher}}
      <a href="{{ item.poster_url }}">{{ item.poster }}</a>
    {% else %}
      {{ item.title }}<br />
      {{ item.author }}
      {{ item.publisher}}
      <a href="{{ item.poster_url }}">{{ item.poster }}</a>
    {% endif %}

    {% if item.post_list == true %}
      {% include post_list.html %}
    {% endif %}

    {% if item.entries %}
      {% include vertical_list.html collection=item.entries %}
    {% endif %}
    </li>
  {% endfor %}
</ul>
